@media (max-width: 768px){
    .header{
        &__btn{
        display: none;
        }
    }

    .menu_list-item{
        padding-left: 0;
        & + .menu_list-item{
            padding-right: 0;
        }
    }
    .logo{
        margin: 0;
    }
}

@media (max-width: 540px){
    .logo{
        order: -1;

    }
    .header__btn{
        display: blok;
    }
}